@{
    ViewData["Title"] = "Patient List";
}

<h2>Patient List</h2>

<input type="text" id="searchBox" class="form-control mb-3" placeholder="Search by name or room..." />

<table class="table table-bordered" id="patientsTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Room</th>
        </tr>
    </thead>
    <tbody id="patientsTableBody">
        <!-- JS will fill this -->
    </tbody>

</table>
<div id="vitalsSection" class="mt-4 d-none">
    <h4>Vitals for <span id="patientName"></span></h4>
    <ul id="vitalsList"></ul>
</div>

<script src="~/js/patient.js" asp-append-version="true"></script>
